body {
  margin: 0;
  background-color: rgb(160, 210, 255);
}

#container {
  text-align: center;
}

header {
  padding: 10px;
  color: whitesmoke;
  background-color: rgb(34, 34, 34);
}
#esquerda {
  background-color: red;

  width: 25%;
  position: fixed;
}

#direita {
  background-color: rgb(24, 96, 160);
  padding-top: 10px;
  float: right;
  padding-bottom: 10px;
  left: 25%;
  bottom: 100%;
  width: 75%;
}

p {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

hr {
  margin-top: 90px;
  margin-bottom: 90px;
}
#box1,
#box2 {
  padding: 70%;
}
