/* ALL */
* {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  align-self: center;
}

/* VARIAVEIS */
:root {
  --cp: blueviolet;
  --bp: 15px;
  --bb: 1px solid black;
}
header {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: var(--cp);
}

.blocomae {
  margin: 3px;
  background-color: rgba(107, 19, 30, 0.308);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bloco {
  max-width: fit-content;
  padding: 40px;
  border: var(--bb);
  margin: 10px;
  display: flex;
  border-radius: var(--bp);
}
.bloco:hover {
  background-color: rgba(137, 43, 226, 0.308);
  box-shadow: 0 0 10px 6px rgba(137, 43, 226, 0.308);
  transition: all 0.4s ease-in-out;
}
