/*   <Body>   */
body {
  background-color: #f4f4f4;
  margin: 0;
  background-image: url("pexels-pixelcop-2680270.jpg");
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

/*   <Header>   */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/*   <Grow>   */
#grow {
  margin: 10px;
  padding: 50px;
  text-align: center;
  background-color: yellow;
  transition: 1.54s;
}
#grow:hover {
  transition: 1.3s;
  padding: 60px;
}

/*   <Color>   */
#color {
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 50px;
  transition: 1.3s;
}
#color:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 1.3s;
  border: 2px solid black;
}

/*   <Distance>   */
#distance {
  margin: 10px;

  text-align: center;
  padding: 50px;
  transition: 1.3s;
  background-color: rgb(109, 109, 255);
}
#distance:hover {
  transition: 1.3s;
  margin-top: 50px;
}

/*   <Opacity>   */
#opacity {
  margin: 10px;

  text-align: center;
  padding: 50px;
  transition: 1.3s;
  background-color: rgb(255, 109, 109);
}
#opacity:hover {
  transition: 1.3s;
  opacity: 0.2;
}

/*   <Rotate>   */
#rotate {
  margin: 10px;

  text-align: center;
  padding: 50px;
  transition: 0.4s;
  background-color: rgb(109, 255, 109);
}
#rotate:hover {
  transition: 2.5s;
  transform: rotate(360deg);
}

/*   <Format>  */
#format {
  margin: 10px;
  text-align: center;
  padding: 50px;
  transition: 1.3s;
  background-color: rgb(255, 109, 236);
}
#format:hover {
  margin: 13%;

  transition: 1.3s;
  border-radius: 30px;
}

/*   <Scale>   */
#scale {
  margin: 10px;
  text-align: center;
  padding: 50px;

  transition: 1.3s;
  background-color: rgb(109, 255, 255);
}
#scale:hover {
  transition: 1.3s;
  transform: scale(1.2);
}
